*.o
Makefile
Makefile.in
*.so
*.so.*
debian/tmp/*
build-stamp
configure-stamp
*.bak
*~
*.core
core
debian/files
*.gcda
*.gcno
*.h.gcov
*.gcov
*.log
*.substvars
*.debhelper
*.deps
*.html
doc/html
install 
missing 
configure 
depcomp
aclocal.m4 
install-sh
config.h.in
