Source: testrunner-lite
Section: misc
Priority: optional
Maintainer: Sampo Saaristo <ext-sampo.1.saaristo@nokia.com>
Build-Depends: debhelper (>= 5), libtool, autoconf, libxml2-dev, doxygen, check, libcurl3-dev
Standards-Version: 3.8.0

Package: testrunner-lite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxml2, test-definition, libcurl3, openssh, sysinfod [armel], sysinfo-tool [armel]
Description: New testrunner with smaller memory footprint for CITA

Package: testrunner-lite-doc
Section: doc
Architecture: all
Description: Doxygen documentation in html format

Package: testrunner-lite-tests
Section: tests
Architecture: any
Depends: ci-testing, testrunner-lite, check, ${shlibs:Depends}
XB-Maemo-CI-Packages: testrunner-lite
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: Unit tests for testrunner
